:root {
  --selector-width: 200px;
  --gray-color: #9c9c9c;
  --bgcolor: #d8d8d8;
}

.selector-shell {
  position: relative;
  min-height: 40px;
}

.selector-show {
  position: relative;
  width: var(--selector-width);
  height: 40px;
  border:2px solid var(--gray-color);
  box-sizing: border-box;
  line-height: 40px;
  padding-left: 5px;
  color: var(--gray-color);
  font-weight: bold;
  font-size: 18px;
}

.selector-show:hover {
  cursor: pointer;
}

.selector-show.arrow:after {
  content: '';
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  top: 50%;
  margin-top: -4px;
  margin-right: 5px;
}

.selector-show.arrow.down:after {
  border-width: 8px 5px 0 5px;
  border-color: var(--gray-color) transparent transparent transparent;
}

.selector-show.arrow.up:after {
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent var(--gray-color) transparent;
}

.selector-list-shell {
  position: absolute;
  width: var(--selector-width);
  height: auto;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.selector-list-shell.trigger.hide {
  display: none;
}

@custom-selector :--selector-list ul;

.selector-shell :--selector-list {
  list-style: none;
  padding:0;margin: 0;
  width: var(--selector-width);
  box-sizing: border-box;
  background-color: #ccc;
}

@custom-selector :--selector-item .selector-shell ul li;

:--selector-item {
  padding: 10px 5px;
}

:--selector-item:nth-child(2n+1) {
  background-color: var(--bgcolor);
}

:--selector-item:nth-child(2n) {
  background-color: var(--gray-color);
}

:--selector-item a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.savebutton {
  display: block;
  width: 80px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  background-color: var(--bgcolor);
  color: var(--gray-color);
  border: 2px solid var(--gray-color);
  margin-top: 20px;
}

.dataarea {
  width: 500px;
  min-height: 100px;
  max-height: 300px;
  resize: none;
  outline: none;
  border: 2px solid var(--gray-color);
}
