:root {
  --selector-width: 200px;
  --gray-color: #9c9c9c;
  --bgcolor: #d8d8d8;
}

html, body {
  margin: 0;
  padding: 0;
}

.selector-shell {
  position: relative;
  display: inline-block;
}

.selector {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-left: 10px;
  padding-right: 70px;
  margin: 0;
  font-size: 13px;
  outline:none; /* remove focus ring from Webkit */
  line-height: 1.2;
  background: #ffffff;
  border: 2px solid var(--gray-color);
  color:var(--gray-color);
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  cursor: pointer;
}

.selector-shell .arrow {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 5px 0 5px;
  border-color: var(--gray-color) transparent transparent transparent;
}

.savebutton {
  display: block;
  width: 80px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  background-color: var(--bgcolor);
  color: var(--gray-color);
  border: 2px solid var(--gray-color);
  margin-top: 20px;
}

.dataarea {
  width: 500px;
  min-height: 100px;
  max-height: 300px;
  resize: none;
  outline: none;
  border: 2px solid var(--gray-color);
}
